.botaoFixo {
    position: fixed;
    left: 0;
    top: 42%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #18537a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botaoFixoZoom {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #18537a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botaoFixoAuto{
    position: fixed;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #29404f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  