@import './msg.css';
@import './event.css';
@import './dashboard.css';
@import './card.css';
@import './home.css';
@import './style.css';
@import './cores-componentes.css';
@import './acessibilidade.css';

main{
    margin-top: 59px;
}
.img-criacao{
    width: 25%;
}
.edit-container{
    width: 70%;
}
body.dark-mode {
    margin-top: 59px;
    background-color: black;
    color: rgb(255, 255, 0);
}


