#navbar {
    background-color: #18537a;
}
.navbar-nav {
    height: 12vh;
    position: relative;
    left: 71%;
    top: 10%;
}
.nav-link {
    position: relative;
    top: 22%;
    color: #fff;
    font-size: 1.5rem;
}
.nav-link:hover {
    color: #86c1e8;

}

#search-container {
    text-align: center;

}
#search {
    width: 70%;
    position: relative;
    left: 15%;
    margin-bottom: 12vh;
    box-shadow: 2px 4px 10px gray;

}
#events-container {
    text-align: center;
    

}
#event-create-container {
    font-size: 1.3rem;
    background-color: #4096cfc5;
    color: #fff;
    width: 50vw;
    height: auto;
    box-shadow: 6px 10px 45px #417aa0;
    border-radius: 20px;

}
#text-sub {
    color: #25aae1;
    font-size: 1.8rem;
}
.img-criacao {
    border: 2px solid#fff;
    box-shadow: 4px 6px 10px rgb(0, 0, 0);
    margin: 10px 0 10px 0;
    height: 25%;
    width: 25%;
}

.btn-criar{
    position: relative;
    left: 32%;
 
}

.img-fluid {
    margin-top: 2rem;
    height: 80%;
    border: 3px solid  white;
    box-shadow: 4px 6px 20px rgb(0, 0, 0);

}
#info-container {
    margin-top: 3.2rem;
}
footer {
  padding-top: 15vh;
}
  .footer-text { margin-block: 20px 45px; }
  
  .social-list {
    display: flex;
    list-style: none ;
    gap: 10px;

  }
  .social-list a{
    color: #86c1e8;
  }
  
  .footer .social-link {
    width: 40px;
    height: 40px;
    background-color: var(--bg-oxford-blue-alpha-90);
    display: grid;
    place-items: center;
    clip-path: var(--clip-path-8);
    transition: var(--transition-1);
  }
  
  .footer .social-link:is(:hover, :focus-visible) {
    background-color: var(--bg-purple);
    transform: translateY(-2px);
  }
  .footer-list {
    width: 20vw;
  }
  .footer-list-title {
    color: black;
    font-size: var(--fontSize-3);
    font-weight: var(--weight-semiBold);
    line-height: 1;
    position: relative;
    padding-block-end: 10px;
    margin-block-end: 20px;
    max-width: max-content;
  }
  
  .footer-list-title::after {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--bg-oxford-blue-alpha-80);
  }
  
  .footer-link {
    padding-block: 5px;
    transition: var(--transition-1);
    list-style: none;
  }
  .footer-link:is(:hover, :focus-visible) { color: var(--text-purple); }
  
  .contact-item .span {
    color: var(--bg-oxford-blue-alpha-90);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-semiBold);
  }
  
  .contact-item:not(:last-child) { margin-block-end: 15px; }
  
  .input-field {
    background-color: var(--bg-oxford-blue-alpha-90);
    color: var(--text-white);
    font-size: var(--fontSize-5);
    padding: 18px 12px;
    box-shadow: var(--shadow);
    border: 2px solid var(--border-purple-alpha-30);
    margin-block-end: 15px;
    outline: none;
  }
  
  .input-field::placeholder { color: var(--text-white); }
  
  .footer-bottom {
    background-color: var(--bg-oxford-blue-alpha-80);
  }
  
  .copyright { padding: 20px 20px; color: #fff; text-align: center; }
  
  
  
  
  
  /*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/
  
 
  
  .back-top-btn.active {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .cont-footer {
    display: flex;
    gap: 5rem;
  }
  .footer-brand {
    width: 20vw;
  }
  
  
  
  
  /*-----------------------------------*\
    #CUSTOM CURSOR
  \*-----------------------------------*/
  
  .cursor { display: none; }
  
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 0px) {
  
    /**
     * REUSED STYLE
     */
  
    .cont-footer {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
  
  
    /**
     * HEADER
     */
  
    .header .logo img 
    { 
      width: 55%; height: 40%; 
    }
  
  
  
    /**
     * UPCOMING
     */
  
    .upcoming-card.left .card-meta {
      left: auto;
      right: -15%;
    }
  
    .upcoming-card.right .card-meta { left: 25%; }
  
  
  
    /*
      FOOTER
     */
  
    .footer-top .cont-footer { grid-template-columns: 1fr 1fr; }
    
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * TYPOGRAPHY
       */
  
      /* font size */
      --fontSize-1: 6.5rem;
      --fontSize-2: 3.2rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .cont-footer { max-width: 720px; }
  
    .h1 { line-height: 1; }
  
  
  
    /**
     * HERO
     */
  
    .hero .section-subtitle { letter-spacing: 10px; }
  
    .hero-banner-bg {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scale(1.3);
      transform-origin: bottom;
      z-index: -1;
    }
  
  
  
    /**
     * UPCOMING
     */
  
    .upcoming-card::before { height: 110px; }
  
    .upcoming-card .card-meta {
      padding-block: 12px;
      bottom: 20px;
    }
  
    .upcoming-card .card-title { --fontSize-3: 2.8rem; }
  
    .upcoming-card.left .card-meta { right: -10%; }
  
    .upcoming-card.right .card-meta { left: 20%; }
  
    .upcoming-time .time { --fontSize-1: 5rem; }
  
  
  
    /**
     * NEWS 
     */
  
    .news-list { grid-template-columns: 1fr 1fr; }
  
   
    body:hover .cursor { opacity: 0.5; }
  
    body .cursor.hovered {
      transform: translate(-50%, -50%) scale(1.3);
      opacity: 0.75;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      
      /**
       * TYPOGRAPHY
       */
  
      /* font size */
      --fontSize-2: 4.5rem;
  
      /**
       * SPACING
       */
  
      --section-spacing: 100px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .cont-footer { max-width: 960px; }
  
    .h2 { line-height: 1.1; }
  
  
  
    /**
     * HEADER
     */
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
    }
  
    .navbar-item,
    .navbar-item:last-child { border: none; }
  
    .navbar-list { display: flex; }
  
    .header .btn {
      display: grid;
      text-align: center;
    }
  
  
  
    /**
     * HERO
     */
  
    .hero-banner-bg { transform: scale(1.2); }
  
  
  
    /**
     * UPCOMING
     */
  
    .upcoming-item {
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      align-items: center;
    }
  
    .upcoming-time { margin-block: 0; }
  
    .upcoming-card .card-meta {
      left: 50%;
      bottom: -30px;
      transform: translateX(-50%);
    }
  
    .upcoming-card.right .card-meta { left: 50%; }
  
  
  
    /**
     * NEWS
     */
  
    .news-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * FOOTER
     */
     
    .footer-top .cont-footer { grid-template-columns: repeat(4, 1fr); }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .cont-footer { max-width: 1140px; }
  
    .section-text { margin-block-end: 60px; }
  
  
  
    /**
     * HERO
     */
  
    .hero { padding-block-start: 250px; }
  
    .hero-banner-bg { transform: scale(1.2); }
  
    .hero-banner .w-100 {
      max-width: max-content;
      margin-inline: auto;
    }
  
  
  
    /**
     * UPCOMING
     */
  
    .upcoming-card .card-banner {
      max-height: 180px;
      width: auto;
    }
  
    .upcoming-card .card-meta { bottom: 0; }
  
    .upcoming-card.right .card-meta { left: 35%; }
  
    .upcoming-time .time { --fontSize-1: 6.2rem; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top .cont-footer { grid-template-columns: 1fr 0.5fr 0.5fr 1fr; }
  
    .footer .logo img { width: 205px; }
  
  }

